@font-face{
  font-family:'digital-calculator-font';
  src: url('Segment14.otf');
 }
.calculator-body{
  padding: 0px;
  margin: 0px;
}
.result {
  background-color: #757575;
  font-family:'digital-calculator-font';
  font-size: calc(10vh);
  min-height: 10%;
  padding: 1px;
  margin: 0px;
  font-stretch: expanded;
}
.buttonpad {
  padding: 0px;
  margin: 0px;
}
.button {
  background-color: #d4d4d4;
  font-family: fantasy;
  font-size: calc(8vh);
  padding: 0px;
  margin: 1px;
}